@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer class="bg-purple" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="top-footer mt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-3 col-md-12">
                    <div class="gd-logo" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="400">
                        <a href="index.html"><img src="/media/logo_white.png" alt="Footer Logo" loading="lazy" /></a>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-9 col-md-12">
                    <div class="contact-footer">
                        <div class="each-location" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="400">
                            <img src="/media/flag-1.png" alt="Flag 1" loading="lazy" />
                            <div class="about-ofc contact-infos">
                                <h6>India</h6>
                                <p>1207/343 &amp; 1207/1/343/1, 9 th MAIN, 7 th SECTOR , HSR LAYOUT, BANGALORE, KARNATAKA 560102</p>
                                <ul>
                                    <li><a href="tel:+917043112253" class="call"> +91 70431 12253 </a></li>
                                    <li><a href="tel:+917043112252" class="call"> +91 70431 12252 </a></li>
                                    <li><a href="mailto:info@techcreare.com" class="mail"> info@techcreare.com </a></li>
                                </ul>
                            </div>
                        </div>
                        <!--<div class="each-location" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="400">
                                                            <img src="media/flag-2.png" alt="Flag 2" loading="lazy" />
                                                        <div class="about-ofc contact-infos">
                                                            <h6>USA</h6>
                        <p>123 Union Blvd. Suite 123, Lakewood, Colorado, 12345</p>
                        <ul>
                        <li><a href="tel:+11234567890" class="call"> +1 (123) 456 789</a></li>
                        <li><a href="mailto:info@techcreare.com" class="mail"> info@techcreare.com </a></li>
                        </ul>
                                                        </div>
                                                    </div>-->
                    </div>
                </div>
            </div>
            <div class="row col_group">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="400">
                    <div class="fit-width m-auto text-sm-start">
                        <h4> services </h4>
                        <ul class="footer-detail">
                            <li>
                                <a href="#">Product Engineering</a>
                            </li>
                            <li>
                                <a href="services/ecommerce-solution/index.html">E-Commerce Application</a>
                            </li>
                            <li>
                                <a href="services/web-application-development/index.html">Web Application Development</a>
                            </li>
                            <li>
                                <a href="#">Dedicated Development Center</a>
                            </li>
                            <li>
                                <a href="#">Quality Assurance</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="400">
                    <div class="fit-width m-auto text-sm-start">
                        <h4> TECHNOLOGIES </h4>
                        <ul class="footer-detail">

                            <li>
                                <a href="asp-net-development-company/index.html">Asp.Net</a>
                            </li>
                            <li>
                                <a href="asp-net-core-development/index.html">Asp.Net Core</a>
                            </li>
                            <li>
                                <a href="#">Vue JS</a>
                            </li>
                            <li>
                                <a href="#">React JS</a>
                            </li>
                            <li>
                                <a href="#">PHP Laravel</a>
                            </li>
                            <li>
                                <a href="#">Angular</a>
                            </li>
                            <li>
                                <a href="#">Node</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="400">
                    <div class="fit-width m-auto text-sm-start">
                        <h4> about </h4>
                        <ul class="footer-detail">
                            <li>
                                <a href="about/index.html">About Company</a>
                            </li>
                            <li>
                                <a href="#">Blogs</a>
                            </li>
                            <li>
                                <a href="about/career/index.html">Career</a>
                            </li>
                            <li>
                                <a href="#">Culture &amp; Events</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="social-link">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <img src="/media/facebook.svg" alt="Facebook" loading="lazy">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <img src="/media/linked-in.svg" alt="Linked In" loading="lazy">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <img src="/media/twitter.svg" alt="Twitter" loading="lazy">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <img src="/media/instagram.svg" alt="Instagram" loading="lazy">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="w-100 d-flex flex-wrap">
                <div class="left-side" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-delay="400">
                    <p>Copyright@2023 TECHCREARE TECHNOLOGY PVT. LTD.</p>
                </div>
                <div class="right-side" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" da^ta-aos-delay="400">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a href="https://wa.me/+917043112253"
       class="whatsapp_float"
       target="_blank"
       rel="noopener noreferrer">
        <i class="fa fa-whatsapp whatsapp-icon"></i>
    </a>
</footer>
<div class="backto-top" id="counter">Top</div>