@{
}

<header class="bg-transparents">
    <div class="main-header">
        <div class="header-logo" data-aos="fade-left">
            <div class="logo">
                <a href="/Home/Index"><img src="~/media/logo.jpg" alt="Logo (1)" loading="lazy"> </a>

            </div>
        </div>
        <button class="menu-button" aria-expanded="false" aria-controls="menu" aria-label="Menu button">
            <span class="menu-button__lines">
                <span class="menu-button__line"></span>
                <span class="menu-button__line"></span>
                <span class="menu-button__line"></span>
            </span>
        </button>
        <nav>
            <ul class="main-menu">
                <span class="border-aware"></span>
                <li>
                    <div class="nav-link-wrap">
                        <a class="border-dr-aware" href="/Home/Index">Home</a>
                        <span class="collapse-control"><img src="build/assets/images/arrow-down_new.png" alt="" loading="lazy"></span>
                    </div>
                </li>
                <li>
                    <div class="nav-link-wrap">
                        <a class="border-dr-aware" href="javascript:void(0)">Services</a>
                        <span class="collapse-control"><img src="build/assets/images/arrow-down_new.png" alt="" loading="lazy"></span>
                    </div>
                    <div class="submenu new-submenu">
                        <div class="level-two">
                            <div class="in">
                                <h2>Services</h2>
                                <div class="level-two-text">
                                    <p><p>Our experience and skillful engineering team achieve our client’s business goal with technology &amp; profound services, TECH CREARE, carry a full-scale eco-systems from Ideas to product release and post-development.</p></p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-link-wrap">
                            <ul>
                                <li><a href="/Services/Index">Product Engineering</a></li>
                                <li><a href="/Services/ECommerceSolutions">E-Commerce Application</a></li>
                                <li><a href="/Services/WebApplicationDevelopment">Web Application Development</a></li>
                                <li><a href="/Services/Index">Dedicated Development Center</a></li>
                                <li><a href="/Services/Index">Quality Assurance</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nav-link-wrap">
                        <a class="border-dr-aware" href="javascript:void(0)">Technologies</a>
                        <span class="collapse-control"><img src="build/assets/images/arrow-down_new.png" alt="" loading="lazy"></span>
                    </div>
                    <div class="submenu new-submenu">
                        <div class="level-two">
                            <div class="in">
                                <h2>Technologies</h2>
                                <div class="level-two-text">
                                    <p><p>Collaborate with TechCreare IT Expert to build an outstanding application, with industry experience and range of technologies to achieve highest ROI.</p></p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-link-wrap">
                            <ul>

                                <li><a href="/Technologies/AspDotNetDevelopmentComapny">Asp.Net</a></li>
                                <li><a href="/Technologies/AspDotNetCoreDevelopment">Asp.Net Core</a></li>

                                <li><a href="#">React JS</a></li>S
                                <li><a href="#">Vue JS</a></li>
                                <li><a href="#">PHP Laravel</a></li>
                                <li><a href="#">Angular</a></li>
                                <li><a href="#">Node</a></li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nav-link-wrap">
                        <a class="border-dr-aware" href="#">Our Work</a>
                        <span class="collapse-control"><img src="build/assets/images/arrow-down_new.png" alt="" loading="lazy"></span>
                    </div>
                    <div class="submenu new-submenu">
                        <div class="level-two">
                            <div class="in">
                                <h2>Our Work</h2>
                                <div class="level-two-text">
                                    <p><p>We listen, Understand, analyze then deliver a solutions which meet (or sometime Exceed) our client expectation. A true craftsmanship for any industry, weather a re-invent the process of your current business or establish emerging ideas to industry.</p></p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-link-wrap">
                            <ul>
                                <li><a href="#">Ticket Booking Solution</a></li>
                                <li><a href="#">Reward Loyalty Program</a></li>
                                <li><a href="/CaseStudy/HelpdeskManagementSystem">Help Desk Smart City CRM</a></li>
                                <li><a href="#">Stock Tracker Web App</a></li>
                                <li><a href="/CaseStudy/MultiVendorECommercePortal">Multivendor ECommerce Portal</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nav-link-wrap">
                        <a class="border-dr-aware" href="javascript:void(0)">About Us</a>
                        <span class="collapse-control"><img src="build/assets/images/arrow-down_new.png" alt="" loading="lazy"></span>
                    </div>
                    <div class="submenu new-submenu">
                        <div class="level-two">
                            <div class="in">
                                <h2>About Us</h2>
                                <div class="level-two-text">
                                    <p><p>To discuss your business needs or for those looking career growth opportunities. Our holistic business life-cycle put people first.</p></p>
                                </div>
                            </div>
                        </div>
                        <div class="nav-link-wrap">
                            <ul>
                                <li><a href="/AboutUs/AboutCompany">About Company</a></li>
                                <li><a href="#">Blogs</a></li>
                                <li><a href="/AboutUs/Careers">Career</a></li>
                                <li><a href="#">Culture &amp; Events</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="contact-btn">
                    <div class="nav-link-wrap">
                        <a class="border-dr-aware" href="/ContactUs/Index">Contact Us</a>
                    </div>
                </li>
               
        </nav>
    </div>
</header>
