<link href="~/bundles/site.min0f3c.css" rel="stylesheet" />
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>
                <section class="asp-banner stick-header bg-black-1b pt-0 pb-0">
                    <div class="sec-in d-flex w-100">
                        <div class="left d-flex align-items-center">
                            <div class="contain">
                                <h1 class="f-60 text-uppercase">Partner with us to avail seamless ASP.NET development services!</h1>
                                <div class="para">
                                    <p>TechCreare will make sure you’ll get all around help during the entire development cycle.</p>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <img src="../media/aspbanner-img.png" alt="aspbanner" loading="lazy" />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="whyus-section asp-store">
                    <div class="container">
                        <div class="row top-imgtext">
                            <div class="col-md-12 col-lg-6 text-center text-lg-end">
                                <img src="../media/aps-leading-img.png" alt="finger-touching-concept" loading="lazy" />
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="content-in">
                                    <div class="global-title text-left p-20">
                                        <h2>The leading ASP. NET development company.</h2>

                                        <p>TechCreare, a Name Synonymous with Commitment and Experience. All our developers’ motive is to “Turn every project into a success stories”. Our Microsoft. NET Development team consists of trusted project managers and developers are always ready to serve their expertise to achieve your business goals.</p>

                                        <p>TechCreare has a broad skill in ASP.Net Web application development services. We are a one-stop destination for the Microsoft ASP.NET web applications.</p>
                                        <p>With vast periods of involvement in ASP. Net web development services, we build the largest scalable and high performance enterprise products and solutions for the world leading enterprises, startups and ISVs.</p>
                                        <p>We are imaginative DotNetters; we go an extra mile to make the clients happy and satisfied. They always keep an eye on the latest market trends to deliver the best products.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="asp-service" style="background-image: url('../media/bg-umbraco-banner.png');">
                    <div class="container large-container">
                        <div class="global-title">
                            <h2>Plethora of reasons to choose us as your ASP.NET service provider!</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 list-style">
                                <ul>
                                    <li>Solid grasp of the object-oriented programming frameworks</li>
                                    <li>Basic &amp; advanced architectural ideas&#x2013;Layers, SDLC</li>
                                    <li>Strong technical competency</li>
                                    <li>Developing cross-browser compatible web applications</li>
                                    <li>High-end security against malicious practices</li>
                                    <li>Our project solutions offer seamless integration with other codes and APIs</li>
                                </ul>
                            </div>
                            <div class="col-md-6 list-style">
                                <ul>
                                    <li>Pay constant attention to industry standards and best practices for software development.</li>
                                    <li>Cost-Effective solutions &amp; committed to on-time Delivery</li>
                                    <li>Open to Daily Skype calls &amp; Timesheet reporting as per client&#x27;s need</li>
                                    <li>Extensive use of Project &amp; Bug Management Tools</li>
                                    <li>We offer flexible engagement models for our clients</li>
                                    <li>Outstanding Support throughout development to delivery</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="p-0">
                    <div class="contact_cta full-width mt-0 w-100" style="background-image:url(../media/grunge-texture.jpg);">
                        <div class="container">
                            <div class="row">
                                <div class="left col-12 text-center" data-aos="fade-up">
                                    <h2 class="fs-38">Leverage the benefits of ASP.NET by choosing us for development!</h2>
                                </div>
                                <div class="right col-12 text-center" data-aos="fade-down">
                                    <a href="../ContactUs/Index" class="white-btn">Contact Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="developer-need pb-0">
                    <div class="container">
                        <div class="global-title text-center p-20">
                            <h2>ASP. NET is a preferred platform for your distinct development needs!</h2>
                            <p>Microsoft ASP. NET is a set of technologies for building Web applications and XML Web services built on top of the Microsoft.NET Framework. ASP. NET provides a centralised Web development architecture that includes all the necessary resources for developing world class solutions, as well as a unique programming style that allows you to build robust applications.</p>
                        </div>
                        <div class="devneed-content">
                            <div class="cont-in">
                                <h3>There are many reasons to choose ASP. NET - check it out!</h3>
                                <div class="devneed-group">
                                    <div class="devneed-box">
                                        <div class="image">
                                            <img src="../media/group-2065.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="text">
                                            <p>Well organized environment for object-oriented programming</p>
                                        </div>
                                    </div>
                                    <div class="devneed-box">
                                        <div class="image">
                                            <img src="../media/group-2066.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="text">
                                            <p>High Performance and scalability</p>
                                        </div>
                                    </div>
                                    <div class="devneed-box">
                                        <div class="image">
                                            <img src="../media/group-2067.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="text">
                                            <p>Secure web allocation using Microsoft membership &amp; Encryption techniques</p>
                                        </div>
                                    </div>
                                    <div class="devneed-box">
                                        <div class="image">
                                            <img src="../media/group-2068.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="text">
                                            <p>ASP. NET has a class library in which a large number of common functions &amp; ready-to-use custom web controls are enclosed, this allows to create applications but not from scratch.</p>
                                        </div>
                                    </div>
                                    <div class="devneed-box">
                                        <div class="image">
                                            <img src="../media/group-2064.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="text">
                                            <p>Modular Development (UI, Business Logic, Data Access)</p>
                                        </div>
                                    </div>
                                    <div class="devneed-box">
                                        <div class="image">
                                            <img src="../media/group-2063.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="text">
                                            <p>Better support for Test Driven Development (TDD)</p>
                                        </div>
                                    </div>
                                    <div class="devneed-box">
                                        <div class="image">
                                            <img src="../media/group-2062.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="text">
                                            <p>Flexible and extensible framework</p>
                                        </div>
                                    </div>
                                    <div class="devneed-box">
                                        <div class="image">
                                            <img src="../media/group-2061.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="text">
                                            <p>Enhanced .NET Framework library.</p>
                                        </div>
                                    </div>
                                    <div class="devneed-box">
                                        <div class="image">
                                            <img src="../media/group-2060.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="text">
                                            <p>Extensive Routing Support</p>
                                        </div>
                                    </div>
                                    <div class="devneed-box">
                                        <div class="image">
                                            <img src="../media/group-2059.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="text">
                                            <p>Easy to configure and deployment</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact_cta ptb mt-0">
                                    <div class="left text-center text-lg-start fs-35" data-aos="fade-up">
                                        <h3>Already got an app idea?</h3>
                                        <p><strong><p>Let’s convert it into beautiful reality with our end-to-end development process!</p></strong></p>
                                    </div>
                                    <div class="right text-center text-lg-end" data-aos="fade-down">
                                        <a href="../contact-us/index.html" class="white-btn">Contact Us Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="whyus-section asp-business" style="background-image:url(../media/blue-pink-halftone-background.png);">
                    <div class="container large-container">
                        <div class="global-title  whyus-title p-20">
                            <h2>Services We Offer To Fulfill Your Business Varied Requirements</h2>
                            <div class="para">
                                <p>We have a dedicated in-house team of ASP.NET developers who are expert in following services:</p>
                            </div>
                        </div>
                        <div class="row exp-group whyus-group asp-services-group">
                            <div class="col-xs-12 col-md-6 col-xl-3 exp-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/group-2058.png" alt="Group 2058" loading="lazy" />
                                    </div>
                                    <div class="contain fs-25">
                                        <h3>Custom ASP. NET Web Application Development</h3>
                                        <div class="para-wrap readmore js-read-more" data-rm-words="35">
                                            <p>TechCreare can assist you in developing one-of-a-kind solutions to meet the demands of your customised business processes. Dive into the app development process with a thorough understanding of your market specialty Read More We have extensive expertise in designing custom ASP.NET web apps for a variety of sectors and businesses.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-xl-3 exp-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/group-2070.png" alt="Group 2070" loading="lazy" />
                                    </div>
                                    <div class="contain fs-25">
                                        <h3>ASP.NET Web MVC Development</h3>
                                        <div class="para-wrap readmore js-read-more" data-rm-words="35">
                                            <p>With our.NET development services, you'll get ASP. NET MVC, which provides a solid, pattern-based framework for creating dynamic websites with a clear separation of concerns. It gives you a lot of flexibility over your markup, which makes for a more enjoyable and agile development process. ASP.NET MVC includes a number of capabilities that enable rapid, TDD-friendly development in order to create beautiful apps that adhere to the latest web standards.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-xl-3 exp-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/group-2071.png" alt="Group 2071" loading="lazy" />
                                    </div>
                                    <div class="contain fs-25">
                                        <h3>ASP.NET Software Development</h3>
                                        <div class="para-wrap readmore js-read-more" data-rm-words="35">
                                            <p>With our dependable Asp. NET software development services, we've assisted businesses in establishing a solid work system in their manufacturing facility. Our skilled team of Dot Net developers, researchers, and architects has also assisted businesses in developing bespoke ASP.NET softwares for a variety of sectors.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-xl-3 exp-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/group-2072.png" alt="Group 2072" loading="lazy" />
                                    </div>
                                    <div class="contain fs-25">
                                        <h3>Enterprise development Solutions</h3>
                                        <div class="para-wrap readmore js-read-more" data-rm-words="35">
                                            <p>Using.NET Development Services and combining highly efficient databases, you can solve complicated problems and create incredibly secure enterprise applications. ASP.NET development services make Enterprise Resource Planning easier by allowing you to have a more up-to-date view of your primary business activities.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-xl-3 exp-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/group-2080.png" alt="Group 2080" loading="lazy" />
                                    </div>
                                    <div class="contain fs-25">
                                        <h3>ASP.NET Ecommerce Solutions</h3>
                                        <div class="para-wrap readmore js-read-more" data-rm-words="35">
                                            <p>Our team can make the most of NopCommerce to create a unique eCommerce store for your business. We have the capability as an ASP.NET development firm to blend the right range of products, features, and management. TechCreare offers an eCommerce platform that is very stable, adaptive, and dependable, allowing you to sell items and services efficiently.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-xl-3 exp-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/group-2081.png" alt="Group 2081" loading="lazy" />
                                    </div>
                                    <div class="contain fs-25">
                                        <h3>ASP.NET Application Migration</h3>
                                        <div class="para-wrap readmore js-read-more" data-rm-words="35">
                                            <p>Do you want to switch to ASP. NET? Our. NET experts have years of expertise implementing seamless migrations from legacy to.NET applications. It's now easier than ever to move from an old application to a new one that's' both appealing and hassle-free thanks to ASP. NET Migration services. Regardless of the language used, database versions, or other difficulties, we will assist you in managing integration.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-xl-3 exp-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/group-2082.png" alt="Group 2082" loading="lazy" />
                                    </div>
                                    <div class="contain fs-25">
                                        <h3>Product/Portal Development Solutions</h3>
                                        <div class="para-wrap readmore js-read-more" data-rm-words="35">
                                            <p>While compiling regulations for industries like as banking, healthcare, and insurance, we usually prefer.NET for portal construction. You've come to the correct place if you're seeking for a dependable technological collaboration with an experienced ASP.NET firm that can deliver successful portal development services tailored to your business needs. Our project management services and step-by-step procedure will, without a doubt, assist you in generating flawless products.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-xl-3 exp-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/group-2083.png" alt="Group 2083" loading="lazy" />
                                    </div>
                                    <div class="contain fs-25">
                                        <h3>Re-engineering, support and maintenance</h3>
                                        <div class="para-wrap readmore js-read-more" data-rm-words="35">
                                            <p>With our rapid maintenance that serves consumers with correctness, exactness, and excitement, we provide regular specialist backings that ensure smooth operating of apps, websites, and various items. We make certain that your.NET application functions smoothly and securely at all times. Use our application maintenance and support services, which are available 24 hours a day, seven days a week.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-xl-3 exp-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/group-2084.png" alt="Group 2084" loading="lazy" />
                                    </div>
                                    <div class="contain fs-25">
                                        <h3>ASP.NET Web Services &amp; Web API Development</h3>
                                        <div class="para-wrap readmore js-read-more" data-rm-words="35">
                                            <p>ASP. NET offers agile and transparent tools for deploying and developing new web services. It is an open-source web framework that aids in the development of excellent web solutions. We can assist you with developing online APIs as well as real-time mobile sites. Create full versions in the form of mobile applications to keep up with current industry trends and incredible features.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-xl-3 exp-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/group-2085.png" alt="Group 2085" loading="lazy" />
                                    </div>
                                    <div class="contain fs-25">
                                        <h3>ASP.NET CMS Integration (Umbraco, NopCommerce, Sitecore)</h3>
                                        <div class="para-wrap readmore js-read-more" data-rm-words="35">
                                            <p>By connecting other vital systems with ASP. NET frameworks, you can easily drive end-to-end customer experiences and customise backend infrastructures.Integrations with our CMS ASP. NET solution will almost certainly improve the system's capabilities. Our smart integrations services, including Umbraco and Nopcommerce, can help your organisation increase its data analysis and report generation efficiency.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-xl-3 exp-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/group-2086.png" alt="Group 2086" loading="lazy" />
                                    </div>
                                    <div class="contain fs-25">
                                        <h3>.NET Consulting</h3>
                                        <div class="para-wrap readmore js-read-more" data-rm-words="35">
                                            <p>Connect with our industry experts senior .NET developers and get perfect .NET consulting services. We will provide you with a dedicated team of consultants and developers to assist you thoroughly from scratch to the final deployment of your .net website or application.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="our-technology">
                    <div class="container">
                        <div class="global-title text-center p-20">
                            <h2>Our Technology Stack</h2>
                            <p>Our profoundly talented teams bring strong ASP. NET Technology expertise, knowledge and latest market trends which incorporate below technical expertise:</p>
                        </div>
                        <div class="tech-tabing tabing-main">
                            <div class="techlist-group tabing-list arrow-style">
                                <div class="techlist-box tabing-li actives"> <h4>Web Application Development</h4> </div>
                                <div class="techlist-box tabing-li "> <h4>Web Services</h4> </div>
                                <div class="techlist-box tabing-li "> <h4>Windows Application Development</h4> </div>
                                <div class="techlist-box tabing-li "> <h4>.NET Content Management System</h4> </div>
                                <div class="techlist-box tabing-li "> <h4>Database</h4> </div>
                                <div class="techlist-box tabing-li "> <h4>UI Frameworks</h4> </div>
                                <div class="techlist-box tabing-li "> <h4>IDE &amp; DevOps Tool Chain</h4> </div>
                                <div class="techlist-box tabing-li "> <h4>Architecture</h4> </div>
                            </div>
                            <div class="techcotnent-group tabing-contents">
                                <div class="techcotnent-box d-block">
                                    <ul>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />ASP.NET MVC
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />ASP.NET Core
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />ASP.NET Web form [ADO.Net]
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />ASP.NET Zero
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />ASP.NET Blazor
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />NopCommerce
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="techcotnent-box ">
                                    <ul>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Web API
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />WCF Services
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />REST
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />OData
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="techcotnent-box ">
                                    <ul>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Windows &amp; Distributed Apps
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="assets/images/Polygon-14.png" alt="" loading="lazy" />WPF
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Windows Forms
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="techcotnent-box ">
                                    <ul>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Umbraco
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Kentiko
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />SiteCore
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="techcotnent-box ">
                                    <ul>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Microsoft SQL Server
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Oracle
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Azure Cosmos DB
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Azure SQL DB
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />MySQL
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />LINQ to SQL
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />SQL Server CE
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />ODBC
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />SqLite
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />MongoDB
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="techcotnent-box ">
                                    <ul>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Bootstrap
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />jQuery
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Google Material
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Kendo UI
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />DevExpress
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />HTML
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />CSS
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Angular
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />VueJS
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />ReactJS
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Knockout
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="techcotnent-box ">
                                    <ul>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Visual Studio
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />VS Code
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Sql Server Management Studio
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />TFS
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Github
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Bitbucket
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Jira
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />VSS
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Mantis
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="techcotnent-box ">
                                    <ul>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />MVC
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />MVVM
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Micro Service
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />MVP
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tech-li">
                                                <img src="/assets/images/Polygon-14.png" alt="" loading="lazy" />Repository
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="wework-section" style="background-image: url(../media/annie-spratt.jpg);">
                    <div class="container">
                        <div class="global-title">
                            <h2>Wide range of Industries we have worked in to satisfy our customers!</h2>
                        </div>
                        <div class="wework-group">
                            <div class="wework-box">
                                <div class="box-in">
                                    <img src="../media/business.png" alt="Business" loading="lazy" />
                                    <div class="title"> Business </div>
                                </div>
                            </div>
                            <div class="wework-box">
                                <div class="box-in">
                                    <img src="../media/healthcare.png" alt="Healthcare" loading="lazy" />
                                    <div class="title"> Healthcare </div>
                                </div>
                            </div>
                            <div class="wework-box">
                                <div class="box-in">
                                    <img src="../media/financial-sector.png" alt="Financial Sector" loading="lazy" />
                                    <div class="title"> Financial Sector </div>
                                </div>
                            </div>
                            <div class="wework-box">
                                <div class="box-in">
                                    <img src="../media/logistics.png" alt="Logistics" loading="lazy" />
                                    <div class="title"> Logistics </div>
                                </div>
                            </div>
                            <div class="wework-box">
                                <div class="box-in">
                                    <img src="../media/e-commerce.png" alt="E-Commerce" loading="lazy" />
                                    <div class="title"> E-Commerce </div>
                                </div>
                            </div>
                            <div class="wework-box">
                                <div class="box-in">
                                    <img src="../media/education.png" alt="Education" loading="lazy" />
                                    <div class="title"> Education </div>
                                </div>
                            </div>
                            <div class="wework-box">
                                <div class="box-in">
                                    <img src="../media/gaming.png" alt="Gaming" loading="lazy" />
                                    <div class="title"> Gaming </div>
                                </div>
                            </div>
                            <div class="wework-box">
                                <div class="box-in">
                                    <img src="../media/business-intelligence.png" alt="Business Intelligence" loading="lazy" />
                                    <div class="title"> Business Intelligence </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="p-0">
                    <div class="contact_cta cta2 mt-0 w-100" style="background-image:url(../media/grunge-texture.jpg);">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="left text-center text-lg-start" data-aos="fade-up">
                                    <h2 class="fs-38">TechCreare offers 360 degree development<br />support to offer seamless services to its customers!</h2>
                                </div>
                                <div class="right text-center" data-aos="fade-down">
                                    <a href="../contact-us/" class="white-btn">Contact Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>


<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="bg-grey2">
                    <div class="container">
                        <div class="global-title portfolio-title text-center f-38 h2-uppercase" data-aos="zoom-in-up">
                            <h2>Frequently Asked Questions</h2>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="accordion-item" data-aos="fade-up">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingOne-1">
                                            <button class="accordion-button show" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-1" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne-1">
                                                Why choose ASP.NET for web development?
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne-1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne-1">
                                            <div class="accordion-body">
                                                <p>ASP.NET gives you the ability to govern content management and product management, allowing you to manage every aspect of your website as well as add and remove products. Websites designed using ASP. NET provide a pleasurable online shopping experience with a user-friendly interface and exceptional security features.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item" data-aos="fade-up">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingOne-2">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-2" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne-2">
                                                Why should we choose you as our ASP. NET development partner?
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne-2" class="accordion-collapse collapse collapsed" aria-labelledby="panelsStayOpen-headingOne-2">
                                            <div class="accordion-body">
                                                <p>The following is a list of the advantages of selecting us as your ASP.NET web development firm:</p>
                                                <ul>
                                                    <li>Applications with low latency and high efficiency</li>
                                                    <li>It provides affordable and easy to implement solutions.</li>
                                                    <li>Experimental solutions with100 percent conversions</li>
                                                    <li>Availability of flexible management models</li>
                                                    <li>An informed and responsive team.</li>
                                                    <li>Process of development has been improved and is more agile.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item" data-aos="fade-up">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingOne-3">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-3" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne-3">
                                                How can you ensure the success of my ASP.NET web development project?
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne-3" class="accordion-collapse collapse collapsed" aria-labelledby="panelsStayOpen-headingOne-3">
                                            <div class="accordion-body">
                                                <p>Our adaptable ASP.NET programmers have worked on a wide range of projects. We take a methodical approach that causes adherence to the highest quality standards, meticulous planning, and constant efforts to ensure the optimum success of your project.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item" data-aos="fade-up">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingOne-4">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-4" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne-4">
                                                Is it possible to see where my.NET app is in the development phase?
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne-4" class="accordion-collapse collapse collapsed" aria-labelledby="panelsStayOpen-headingOne-4">
                                            <div class="accordion-body">
                                                <p>Yes, you are free to check the development status whenever you like. We create an ASP.NET web application on our development server and provide you with login details so that you may log in at any time to check on the website's performance.</p>
                                                <p>You can even update us if anything is not relevant to your requirements, so that we can be updated on the same.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="accordion-item" data-aos="fade-up">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingOne-5">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-5" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne-5">
                                                Is it possible for me to hire ASP. NET developers?
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne-5" class="accordion-collapse collapse collapsed" aria-labelledby="panelsStayOpen-headingOne-5">
                                            <div class="accordion-body">
                                                <p>Yes, TechCreare can provide you with ASP. NET programmers for web solutions, ASP. NET web migration, enterprise solutions, eCommerce web application development, sophisticated web solutions, and much more.</p>
                                                <p>We have certified ASP. NET developers on staff with over 5 years of expertise in a variety of industrial sectors and technologies, ensuring that we deliver your project without errors.</p>
                                                <p>We also provide development, maintenance and support. Our ASP.NET technical assistants are available 24 hours a day, 7 days a week, to assist you with technical issues as well as performance tracking.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item" data-aos="fade-up">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingOne-6">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-6" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne-6">
                                                What is the cost of developing an ASP. NET platform?
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne-6" class="accordion-collapse collapse collapsed" aria-labelledby="panelsStayOpen-headingOne-6">
                                            <div class="accordion-body">
                                                <p>The cost of designing and building an ASP. NET application or ASP.NET software is determined by a variety of factors, including the range of features, development platform, app sophistication, app categories, and the developer's place of origin.</p>
                                                <p>You can contact us to learn more about the cost of developing a whole ASP. NET application.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item" data-aos="fade-up">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingOne-7">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-7" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne-7">
                                                What is the difference between ASP. NET &amp; ASP. NET core?
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne-7" class="accordion-collapse collapse collapsed" aria-labelledby="panelsStayOpen-headingOne-7">
                                            <div class="accordion-body">
                                                <p>ASP. NET Core is a subset of the ASP. NET framework. It was previously known as ASP. NET 5, but it was renamed to ASP. NET Core. ASP.NET Core has a lot more features and benefits than ASP. NET 4x in terms of features and benefits.</p>
                                                <p>ASP. NET Core is compatible with a variety of operating systems, including MacOS, Windows, and Linux, whereas ASP. NET 4x is only compatible with Windows.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item" data-aos="fade-up">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingOne-8">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-8" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne-8">
                                                What if I need to make any changes or adjustments to the developed module?
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne-8" class="accordion-collapse collapse collapsed" aria-labelledby="panelsStayOpen-headingOne-8">
                                            <div class="accordion-body">
                                                <p>We look after our clients even after we completed the project, and minor tweaks or revisions to the developed module are usually free of charge.</p>
                                                <p>If something substantial, such as you need to add or change a completely new concept or feature.</p>
                                                <p>Then, we will contact you with the benefits and possibilities of the change you require, as well as an exact time delivery commitment, a fair price, and terms of service.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
