<link href="~/bundles/site.min0f3c.css" rel="stylesheet" />
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>


                <section class="case-hero text-center stick-header" style="background-image:url(/media/helpdesk-system1.jpg);">
                    <div class="container">
                        <div class="content f-60">
                            <h1>HELPDESK MANAGEMENT SYSTEM</h1>
                            <div class="para">
                                <p>Complete Automated Helpdesk Management system to manage all your premises complaints &amp; track it easily.</p>
                            </div>
                            <div class="btn-group">
                                <div class="btn-box">
                                    <h5>PLATFORM</h5>
                                    <div class="btn primary-btn">Web &amp; Mobile</div>
                                </div>
                                <div class="btn-box">
                                    <h5>INDUSTRY</h5>
                                    <div class="btn primary-btn">Real Estate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>


                <section class="csintro-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="global-title text-left">
                                    <h2>INTRODUCTION</h2>
                                    <div class="para">
                                        <p>We were hired to develop a system where all the micro-level communication and complaints-related information can be well-managed by the committee of a huge premise. This system allows multiple users to access it at multiple levels at same time. It furnishes a flow of communication among company members, Contractors, Building Administrator, and Management staff.</p>
                                        <p>It allows residents or companies to post complaints in the system that reaches all the members who are related to that complaint. Complaint gets auto-assigned to the respective contractor.</p>
                                        <p>This system helps the management to track the complaints at all levels and receive accurate updates regarding the complaint and can take action accordingly. This system also has the provision for Guest complaints where guests can also post their complaints without logging in to the system.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img src="../media/helpdesk-system1-old.jpg" alt="Helpdesk" loading="lazy">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>


                <section class="challenges-section" style="background-image:url(../media/blue-pink-halftone_36.png);">
                    <div class="container">
                        <div class="global-title text-center">
                            <h2>Challenges</h2>
                            <p>For which our Spartans are always ready to rock..!</p>
                        </div>
                        <div class="row challenges-group d-flex flex-wrap justify-content-center">

                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="../media/sales-orders-management.png" alt="Complaint Management" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Complaint Management</h3>
                                        <div class="para">
                                            <p>The core feature of this system was to manage the user complaints and help them execute all the operations in the smoothest possible way.</p>
                                            <p>With the help of parameters like Status and Priority, complaints are assigned and managed</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="../media/multiple-payment-options.png" alt="Multi User Communication Channels" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Multi-User Communication Channels</h3>
                                        <div class="para">
                                            <p>This system has multiple users with a different set of functionalities for which clients wanted to have a system that can function with hassle-free communication.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="../media/campaigns-management.png" alt="Data Management" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Data Management</h3>
                                        <div class="para">
                                            <p>Helpdesk Management System is all about data. Client wanted every bit of information related to helpdesk to be stored, processed and managed well.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="../media/multivendor-franchising-portal.png" alt="Vendor Assignment Automation" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Vendor Assignment Automation</h3>
                                        <div class="para">
                                            <p>We needed to develop a feature of vendor assignment that can ease out many operational glitches and offers smooth functions.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="../media/database.png" alt="Data Accuracy" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Data Accuracy</h3>
                                        <div class="para">
                                            <p>From the bunch of huge data, when you are asked to process minute details for multiple operations of multiple users, it becomes challenging to deliver accurate data.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="" alt="Recorded Broadcast Information" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Recorded Broadcast Information</h3>
                                        <div class="para">
                                            <p>Client had a requirement of broadcasting information which should be recorded in the system to access them in the future.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>


                <section class="cs-solution-section">
                    <div class="container">
                        <div class="row lr-wrap">
                            <div class="col-lg-5 col-xxl-6 left">
                                <div class="in">
                                    <div class="global-title text-left">
                                        <h2>SOLUTIONS</h2>
                                        <p>WE CAME, WE SEWED, WE CONQUERED</p>

                                    </div>
                                    <div class="left-image">
                                        <img src="../media/solution-image.png" alt="Solution Image" loading="lazy">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-xxl-6 right">
                                <div class="row cs-solution-group">

                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="../media/campaigns-management.png" alt="Complaint Management" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Complaint Management</h3>
                                                <div class="para">
                                                    <p>The flow of complaints has been implemented in such a way that all the related users get filtered and enough information that helps them take further steps.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="../media/multi-vendor-franchising-portal.png" alt="Multi User Communication Channels" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Multi-User Communication Channels</h3>
                                                <div class="para">
                                                    <p>We designed the base architecture in such a way that the inter-modular communication exchanges proper data differentiated by users.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="../media/database.png" alt="Data Management" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Data Management</h3>
                                                <div class="para">
                                                    <p>In order to achieve this, we dug deep to find a solution where we can store and manage current as well as historical data that has been replaced or removed.</p>
                                                    <p>We ensured to maintain a history of changes and replaced data, to track the old specifics.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="../media//vendor-commission-distribution.png" alt="Vendor Assignment Automation" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Vendor Assignment Automation</h3>
                                                <div class="para">
                                                    <p>To overcome the glitches, we decided to have automation in Vendor assignment. For that, we had to implement complicated mappings at various stages without impacting other modules and data.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="../media/database.png" alt="Data Accuracy" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Data accuracy</h3>
                                                <div class="para">
                                                    <p>We implemented the combinations of various algorithms in order to communicate correct information with correct user for correct action.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="" alt="Recorded Broadcast Information" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Recorded Broadcast Information</h3>
                                                <div class="para">
                                                    <p>After understanding and analysing the required, we categorised the information and implemented a controlled broadcasting feature where authorised user can share the information with all as well as specific group of users.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="techoffer-section bg_primary">
                    <div class="container">
                        <div class="global-title text-center">
                            <h2>TECHNOLOGIES OFFERED</h2>
                        </div>
                        <div class="row techoffer-group">
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4 col-xxl-3 techoffer-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/vue.svg" alt="Vue [1]" loading="lazy">
                                    </div>
                                    <div class="title">
                                        <h5>Frontend</h5>
                                        <div class="disc">Vue Js</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4 col-xxl-3 techoffer-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/php.jpg" alt="Laravel" loading="lazy">
                                    </div>
                                    <div class="title">
                                        <h5>Backend</h5>
                                        <div class="disc">PHP, Laravel</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4 col-xxl-3 techoffer-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="" alt="Mysql" loading="lazy">
                                    </div>
                                    <div class="title">
                                        <h5>Database</h5>
                                        <div class="disc">My Sql</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4 col-xxl-3 techoffer-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/react-native-i.png" alt="React Native" loading="lazy">
                                    </div>
                                    <div class="title">
                                        <h5>Hybrid Mobile App</h5>
                                        <div class="disc">React Native</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>


                <section class="csresult-section">
                    <div class="container">
                        <div class="global-title text-center">
                            <h2>RESULTS</h2>
                            <p>And It was a smashing Success..!!</p>

                        </div>
                        <div class="row csresult-group">

                            <div class="col-xl-4 col-md-6 csresult-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/campaigns-management.png" alt="Complaint Management White" loading="lazy">
                                    </div>
                                    <div class="content fs-30">
                                        <h3>Complaint Management</h3>
                                        <div class="para">
                                            <p>This feature is assisting users to process the complaints in lesser duration more effectively and satisfactorily solving them.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 csresult-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/multiple-payment-options.png" alt="Multi User Communication Channels White" loading="lazy">
                                    </div>
                                    <div class="content fs-30">
                                        <h3>Multi-User Communication Channels</h3>
                                        <div class="para">
                                            <p>All the users can see only required information that helps them know their required amount of contribution to accomplish the operations.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 csresult-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/database.png" alt="Data Management White" loading="lazy">
                                    </div>
                                    <div class="content fs-30">
                                        <h3>Data Management</h3>
                                        <div class="para">
                                            <p>User can easily access the old or replaced data. With well-managed informational structure, user can process and execute information impeccably.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 csresult-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/multivendor-franchising-portal.png" alt="Vendor Assignment Automation White" loading="lazy">
                                    </div>
                                    <div class="content fs-30">
                                        <h3>Vendor Assignment Automation</h3>
                                        <div class="para">
                                            <p>When a user creates a complaint, he will be aware priorly on about the responsible vendor and who is going to resolve it.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 csresult-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../media/database.png" alt="Data Accuracy White" loading="lazy">
                                    </div>
                                    <div class="content fs-30">
                                        <h3>Data Accuracy</h3>
                                        <div class="para">
                                            <p>With the help of well-managed data, it has become easy to get the data accurately and efficiently.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 csresult-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../assets/images/arrow-white.png" alt="Recorded Broadcast Information White" loading="lazy">
                                    </div>
                                    <div class="content fs-30">
                                        <h3>Recorded Broadcast Information</h3>
                                        <div class="para">
                                            <p>For any upcoming event or distributing any notice, helpdesk guy can easily create a message with required information and share it with chosen group of users.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="hmform-section">
                    <div class="container">
                        <div class="global-title text-center portfolio-title" data-aos="zoom-in-up">
                            <h2>We&#x27;d Love To Hear From You</h2>
                            <p>Get Your Custom Solutions, Recommendations, Quotations. Confidentiality &amp; Same Day Response will be Guaranteed!</p>
                        </div>
                        <div class="contect-form" id="ContactUsSection">
                            <div class="w-100 d-flex flex-wrap">
                                <div class="left-side bg-primary" data-aos="fade-up" data-aos-delay="600">
                                    <h4>Contact Information</h4>
                                    <p>
                                        Fill up the form and our Team will get back to you within 24
                                        hours.
                                    </p>
                                    <div class="contact-detail">
                                        <div class="each-detail">
                                            <div class="icon">
                                                <img src="../../media/call-icon.svg" alt="Call Icon" loading="lazy" />
                                            </div>
                                            <p><a href="tel:+917043112253">+91 70431 12253</a></p>
                                        </div>
                                        <div class="each-detail">
                                            <div class="icon">
                                                <img src="../../media/email-icon.svg" alt="Email Icon" loading="lazy" />
                                            </div>
                                            <p>
                                                <a href="mailto:info@techcreare.com">info@techcreare.com</a>
                                            </p>
                                        </div>
                                        <div class="each-detail">
                                            <div class="icon">
                                                <img src="../../media/location-icon.svg" alt="Location Icon"
                                                     loading="lazy" />
                                            </div>
                                            <p>
                                               1207/343 &amp; 1207/1/343/1, 9 th MAIN, 7 th SECTOR , HSR LAYOUT,<br />
                                                BANGALORE, KARNATAKA 560102
                                            </p>
                                        </div>
                                    </div>
                                    <div class="social-icons">
                                        <a href="https://www.facebook.com/techcreare" target="_blank">
                                            <img src="../../media/facebook.svg" alt="Facebook" loading="lazy" />
                                        </a>
                                        <a href="https://twitter.com/techcreare" target="_blank">
                                            <img src="../../media/twitter.svg" alt="Twitter" loading="lazy" />
                                        </a>
                                        <a href="https://www.instagram.com/techcreare/" target="_blank">
                                            <img src="../../media/instagram.svg" alt="Instagram" loading="lazy" />
                                        </a>
                                        <a href="https://www.linkedin.com/company/techcreare" target="_blank">
                                            <img src="../../media/linked-in.svg" alt="Linked In" loading="lazy" />
                                        </a>
                                    </div>
                                </div>
                                <div class="right-side" data-aos="fade-up" data-aos-delay="600">


                                    <form id="ConatctUsForm">
                                        <div class=row>
                                            <input type="hidden" id="AdminEmail" name="AdminEmail" value="info@techcreare.com" />
                                            <input type="hidden" id="UserEmailSubject" name="UserEmailSubject" value="Thank you" />
                                            <input type="hidden" id="AdminEmailSubject" name="AdminEmailSubject" value="Contact Inquiry from website" />
                                            <input type="hidden" name="Id" for="Id" />
                                            <input type="hidden" name="IPAddress" id="IPAddress" />
                                            <input type="hidden" name="Type" id="Type" />
                                            <input type="hidden" name="Country" id="Country" />
                                            <input type="hidden" name="City" id="City" />
                                            <input type="hidden" name="Postal" id="Postal" />
                                            <input type="hidden" name="TimeZoneId" id="TimeZoneId" />
                                            <input type="hidden" name="TimeZoneAbbreviation" id="TimeZoneAbbreviation" />
                                            <input type="hidden" name="TimeZoneCurrent_time" id="TimeZoneCurrent_time" />
                                            <input type="hidden" name="TimeZoneName" id="TimeZoneName" />
                                            <input type="hidden" name="User_agentHeader" id="User_agentHeader" />
                                            <input type="hidden" name="User_agentName" id="User_agentName" />
                                            <input type="hidden" name="User_agentType" id="User_agentType" />
                                            <input type="hidden" name="User_agentVersion" id="User_agentVersion" />
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <label for="FirstName" class="form-label">First Name <i class="error">*</i></label>
                                                <input type="text" for="FirstName" class="form-control" name="FirstName" id="FirstName" placeholder="First Name">

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <label for="LastName" class="form-label">Last Name <i class="error">*</i></label>
                                                <input type="text" for="LastName" class="form-control" name="LastName" id="LastName" placeholder="Last Name">

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <label for="Email" class="form-label">Email Address <i class="error">*</i></label>
                                                <input type="email" for="Email" class="form-control" name="Email" id="Email" placeholder="alex@gmail.com">

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <label for="ContactNo" class="form-label">Contact Number <i class="error">*</i></label>
                                                <input type="number" for="ContactNo" class="form-control" name="ContactNo" id="ContactNo" placeholder="+91 123456789">

                                            </div>
                                            <div class="col-12">
                                                <label for="Message" class="form-label">
                                                    Message <i class="error">*</i>
                                                </label>
                                                <textarea class="form-control" for="Message" name="Message" id="Message" rows="3" placeholder="write your message"></textarea>
                                            </div>

                                            <input type="hidden" id="recaptcha" name="recaptcha" />

                                            <script src="https://www.google.com/recaptcha/api.js?render=6LcfB00fAAAAAH0iTIRHL0ySYIOR73DqWXvtfmQp"></script>
                                            <script>
                                                grecaptcha.ready(function () {
                                                    grecaptcha.execute('6LcfB00fAAAAAH0iTIRHL0ySYIOR73DqWXvtfmQp').then(function (token) {
                                                        document.getElementById("recaptcha").value = token;
                                                    });
                                                });
                                            </script>

                                            <span id="ErrorMessage" class="text-danger"></span>
                                        </div>
                                        <button type="submit" id="ContactUsSubmit" class="btn primary-btn m-auto ">Submit</button>

                                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8LE_Ol4-amZEvl4lPK03vCfVkl1FJJqUopG4vnruTAVmCrd59gmC5PRfp20b9HtICsG1BYyCWvSB-HZWG6M6csKZpA3aUyak-nJ1Ul9g8h4lYfOEoEnMnMv_qdd2i2IB8uwVkyiwJgktX52XKKb9EbE" />
                                    </form>
                                    <div id="SuccessMessage" class="thk-msg fs-35 text-center d-none m-auto">
                                        <h3>Thank You!</h3>
                                        <div class="subtitle">Thank for contacting us,</div>
                                        <div clsass="para">
                                            <p>One of our representatives will be in touch with you shortly.</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="sales-team w-100">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-5 col-md-12">
                                        <div class="fit-height" data-aos="fade-down" data-aos-delay="600">
                                            <div class="global-title text-left">
                                                <h5>What&#x27;s Next?</h5>
                                            </div>
                                            <p>One of our Account Managers will contact you shortly.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-7 col-md-12">
                                        <div class="row justify-content-center justify-content-lg-start">
                                            <div class="col-xl-3 col-lg-4 col-md-3 col-6">
                                                <div class="each-member" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
                                                    <div class="image-wrap">
                                                <img src="../../media/default-client.png" alt="Ru" loading="lazy" />
                                                    </div>
                                                    <p class="e-name">Team Member</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-3 col-6">
                                                <div class="each-member" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
                                                    <div class="image-wrap">
                                                        <img src="../../media/default-client.png" alt="Na" loading="lazy" />
                                                    </div>
                                                    <p class="e-name">Team Member</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
