<link href="~/bundles/site.min0f3c.css" rel="stylesheet" />
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>


                <section class="case-hero text-center stick-header" style="background-image:url(../../media/multivendor-ecommerce-portal.png);">
                    <div class="container">
                        <div class="content f-60">
                            <h1>Multivendor ECommerce Portal</h1>
                            <div class="para">
                                <p>NopCommerce based Multivendor franchising ECommerce Portal.</p>
                            </div>
                            <div class="btn-group">
                                <div class="btn-box">
                                    <h5>PLATFORM</h5>
                                    <div class="btn primary-btn">Web &amp; Mobile</div>
                                </div>
                                <div class="btn-box">
                                    <h5>INDUSTRY</h5>
                                    <div class="btn primary-btn">eCommerce</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>


                <section class="csintro-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="global-title text-left">
                                    <h2>INTRODUCTION</h2>
                                    <div class="para">
                                        <p>Our client is an eCommerce Company, established in Ahmedabad which operates as an organization selling products over the internet with franchising with multiple vendors. </p>
                                        <p>We have developed an Online Marketplace that as you can guess sells a wide variety of latest product<br />under the Cosmetics, Clothes, Footwear and another category. Be it the latest products, product reviews,<br />latest trends, and more. This is your ultimate one-stop to get the latest reviews and feedback on almost all women's products. Be the first to review the latest products of women's variety.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img src="../../media/digital-ecommerce-solution.png" alt="Tech Creare Ecommerce Solution" loading="lazy">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>


                <section class="challenges-section" style="background-image:url(../../media/blue-pink-halftone_30.png);">
                    <div class="container">
                        <div class="global-title text-center">
                            <h2>Challenges</h2>
                            <p>For which our Spartans are always ready to rock..!</p>
                        </div>
                        <div class="row challenges-group d-flex flex-wrap justify-content-center">

                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="../../media/product-catalog-management.png" alt="Product Catalog Management" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Product Catalog Management</h3>
                                        <div class="para">
                                            <p>Product is the prime and prior thing that is required in an e-commerce platform. The client wanted to create a hierarchy of categories to reach the product for users to reach their desired product.</p>
                                            <p>We were required entire transition should be flawless and user-friendly.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="../../media/multi-vendor-franchising-portal.png" alt="Multi Vendor Franchising Portal" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Multi Vendor Franchising Portal</h3>
                                        <div class="para">
                                            <p>The client insisted on having provision for Vendors and Franchises to access the system and through which they can manage their catalog and orders.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="../../media/multiple-payment-options.png" alt="Multiple Payment Options" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Multiple Payment Options</h3>
                                        <div class="para">
                                            <p>In today’s era of the digital world, most of the payment is carried without cash. Therefore, it becomes necessary to provide multiple ways to pay for the order.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="../../media/sales-orders-management.png" alt="Sales Orders Management" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Sales Orders Management</h3>
                                        <div class="para">
                                            <p>An e-commerce platform must have a feature where admin or vendors can view and manage customers’ orders. It should assist them in processing and fulfilling orders as well.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="../../media/campaigns-management.png" alt="Campaigns Management" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Campaigns Management</h3>
                                        <div class="para">
                                            <p>No e-commerce platform is valued without promotions. There will be promotions made for products or groups of products for which this system must have a provision that should be easy to use and flawless.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="../../media/taxation-management.png" alt="Taxation Management" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Taxation Management</h3>
                                        <div class="para">
                                            <p>What business can operate without taxes? Conductive to operating a business, like a marketplace, one has to configure and manage taxation for customer orders, vendors as well as admin.</p>
                                            <p>The client wanted us to have a user-friendly flow for taxation management</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 challenges-box d-flex">
                                <div class="box-in text-center">
                                    <div class="icon">
                                        <img src="../../media/vendor-commission-distribution.png" alt="Vendor Commission Distribution (2)" loading="lazy">
                                    </div>
                                    <div class="contain fs-30">
                                        <h3>Vendor Commission Distribution</h3>
                                        <div class="para">
                                            <p>Any vendor would not be interested to be associated with another business unless he can earn profits out of the same. To draw their attention, we need to design a business model that can attract and engage them.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>


                <section class="cs-solution-section">
                    <div class="container">
                        <div class="row lr-wrap">
                            <div class="col-lg-5 col-xxl-6 left">
                                <div class="in">
                                    <div class="global-title text-left">
                                        <h2>SOLUTIONS</h2>
                                        <p>WE CAME, WE SEWED, WE CONQUERED</p>

                                    </div>
                                    <div class="left-image">
                                        <img src="../../media/solution-image.png" alt="Solution Image" loading="lazy">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-xxl-6 right">
                                <div class="row cs-solution-group">

                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="../../media/product-catalog-management.png" alt="Product Catalog Management" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Product Catalog Management</h3>
                                                <div class="para">
                                                    <p>After analyzing the requirements, we defined a structure where there is a provision to add and manage the multiple levels of categories by linking parent categories and child categories.</p>
                                                    <p>While creating a product, the user can simply select the desired category whether parent category or child category.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="../../media/multi-vendor-franchising-portal.png" alt="Multi Vendor Franchising Portal" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Multi Vendor Franchising Portal</h3>
                                                <div class="para">
                                                    <p>This system being a marketplace requires to have separate panels for Vendors and Franchises.</p>
                                                    <p>We have defined a different set of functionalities to Vendors and Franchises which includes managing catalog, orders, customers, etc.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="../../media/multiple-payment-options.png" alt="Multiple Payment Options" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Multiple Payment Options</h3>
                                                <div class="para">
                                                    <p>In order to provide multiple methods for payment, we have integrated a gateway that allows various ways to make payment for orders. This includes methods like debit cards, credit cards, net banking, etc.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="../../media/sales-orders-management.png" alt="Sales Orders Management" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Sales Orders Management</h3>
                                                <div class="para">
                                                    <p>When customers place orders from the website, it will directly reach the relevant vendor as well as admin. The vendor will process the order in various steps with the help of this system and deliver the order.</p>
                                                    <p>This system will be involved until the order is received by customer and customer could share the feedback.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="../../media/campaigns-management.png" alt="Campaigns Management" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Campaigns Management</h3>
                                                <div class="para">
                                                    <p>For promotional reasons, campaigns are one of the simplest and most impactful tools. And so, we implemented a module where admin and vendors can create and manage their campaigns.</p>
                                                    <p>They are visible to users and according to fixed parameters, they will be able to execute these campaigns and target to reach a maximum number of customers in a short period.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="../../media/taxation-management.png" alt="Taxation Management" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Taxation Management</h3>
                                                <div class="para">
                                                    <p>To make this feature meek, we have adopted a simple solution where the admin can manage all the taxes from the admin panel and change them as and when required.</p>
                                                    <p>No other user can access this feature but it adds an impact to each order placed on this system.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 cs-solution-box">
                                        <div class="box-in">
                                            <div class="icon">
                                                <img src="../../media/vendor-commission-distribution.png" alt="Vendor Commission Distribution (2)" loading="lazy">
                                            </div>
                                            <div class="content fs-30">
                                                <h3>Vendor Commission Distribution</h3>
                                                <div class="para">
                                                    <p>A businessman is only attracted to another business if he anticipates extra income or more business. We designed the business model where vendors get an extra commission on their sales generated through this system.</p>
                                                    <p>In order to distribute this commission, we had to go the extra mile to implement a feature where the admin can view calculated commission and distribute the number of rewards among vendors.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="techoffer-section bg_primary">
                    <div class="container">
                        <div class="global-title text-center">
                            <h2>TECHNOLOGIES OFFERED</h2>
                        </div>
                        <div class="row techoffer-group">
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4 col-xxl-3 techoffer-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../../media/asp-core.png" alt="ASP CORE" loading="lazy">
                                    </div>
                                    <div class="title">
                                        <h5>Frontend</h5>
                                        <div class="disc">Asp.Net Core, NopCommerce</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4 col-xxl-3 techoffer-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../../media/backend.png" alt="Backend" loading="lazy">
                                    </div>
                                    <div class="title">
                                        <h5>Backend</h5>
                                        <div class="disc">C#</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4 col-xxl-3 techoffer-box">
                                <div class="box-in">
                                    <div class="icon">
                                        <img src="../../media/database.png" alt="Database" loading="lazy">
                                    </div>
                                    <div class="title">
                                        <h5>Database</h5>
                                        <div class="disc">MS SQL Server</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row clearfix ">
        <div class="col-md-12 column">
            <div>

                <section class="hmform-section">
                    <div class="container">
                        <div class="global-title text-center portfolio-title" data-aos="zoom-in-up">
                            <h2>We&#x27;d Love To Hear From You</h2>
                            <p>Get Your Custom Solutions, Recommendations, Quotations. Confidentiality &amp; Same Day Response will be Guaranteed!</p>
                        </div>
                        <div class="contect-form" id="ContactUsSection">
                            <div class="w-100 d-flex flex-wrap">
                                <div class="left-side bg-primary" data-aos="fade-up" data-aos-delay="600">
                                    <h4>Contact Information</h4>
                                    <p>
                                        Fill up the form and our Team will get back to you within 24
                                        hours.
                                    </p>
                                    <div class="contact-detail">
                                        <div class="each-detail">
                                            <div class="icon">
                                                <img src="../../media/call-icon.svg" alt="Call Icon" loading="lazy" />
                                            </div>
                                            <p><a href="tel:+917043112253">+91 70431 12253</a></p>
                                        </div>
                                        <div class="each-detail">
                                            <div class="icon">
                                                <img src="../../media/email-icon.svg" alt="Email Icon" loading="lazy" />
                                            </div>
                                            <p>
                                                <a href="mailto:info@techcreare.com">info@techcreare.com</a>
                                            </p>
                                        </div>
                                        <div class="each-detail">
                                            <div class="icon">
                                                <img src="../../media/location-icon.svg" alt="Location Icon"
                                                     loading="lazy" />
                                            </div>
                                            <p>
                                               1207/343 &amp; 1207/1/343/1, 9 th MAIN, 7 th SECTOR , HSR LAYOUT,<br />
                                                BANGALORE, KARNATAKA 560102
                                            </p>
                                        </div>
                                    </div>
                                    <div class="social-icons">
                                        <a href="https://www.facebook.com/techcreare" target="_blank">
                                            <img src="../../media/facebook.svg" alt="Facebook" loading="lazy" />
                                        </a>
                                        <a href="https://twitter.com/techcreare" target="_blank">
                                            <img src="../../media/twitter.svg" alt="Twitter" loading="lazy" />
                                        </a>
                                        <a href="https://www.instagram.com/techcreare/" target="_blank">
                                            <img src="../../media/instagram.svg" alt="Instagram" loading="lazy" />
                                        </a>
                                        <a href="https://www.linkedin.com/company/techcreare" target="_blank">
                                            <img src="../../media/linked-in.svg" alt="Linked In" loading="lazy" />
                                        </a>
                                    </div>
                                </div>
                                <div class="right-side" data-aos="fade-up" data-aos-delay="600">


                                    <form id="ConatctUsForm" action="../../umbraco/surface/home/SaveContactUs" method="post">
                                        <div class=row>
                                            <input type="hidden" id="AdminEmail" name="AdminEmail" value="sales@techcreare.com" />
                                            <input type="hidden" id="UserEmailSubject" name="UserEmailSubject" value="Thank you" />
                                            <input type="hidden" id="AdminEmailSubject" name="AdminEmailSubject" value="Contact Inquiry from website" />
                                            <input type="hidden" name="Id" for="Id" />
                                            <input type="hidden" name="IPAddress" id="IPAddress" />
                                            <input type="hidden" name="Type" id="Type" />
                                            <input type="hidden" name="Country" id="Country" />
                                            <input type="hidden" name="City" id="City" />
                                            <input type="hidden" name="Postal" id="Postal" />
                                            <input type="hidden" name="TimeZoneId" id="TimeZoneId" />
                                            <input type="hidden" name="TimeZoneAbbreviation" id="TimeZoneAbbreviation" />
                                            <input type="hidden" name="TimeZoneCurrent_time" id="TimeZoneCurrent_time" />
                                            <input type="hidden" name="TimeZoneName" id="TimeZoneName" />
                                            <input type="hidden" name="User_agentHeader" id="User_agentHeader" />
                                            <input type="hidden" name="User_agentName" id="User_agentName" />
                                            <input type="hidden" name="User_agentType" id="User_agentType" />
                                            <input type="hidden" name="User_agentVersion" id="User_agentVersion" />
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <label for="FirstName" class="form-label">First Name <i class="error">*</i></label>
                                                <input type="text" for="FirstName" class="form-control" name="FirstName" id="FirstName" placeholder="First Name">

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <label for="LastName" class="form-label">Last Name <i class="error">*</i></label>
                                                <input type="text" for="LastName" class="form-control" name="LastName" id="LastName" placeholder="Last Name">

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <label for="Email" class="form-label">Email Address <i class="error">*</i></label>
                                                <input type="email" for="Email" class="form-control" name="Email" id="Email" placeholder="alex@gmail.com">

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <label for="ContactNo" class="form-label">Contact Number <i class="error">*</i></label>
                                                <input type="number" for="ContactNo" class="form-control" name="ContactNo" id="ContactNo" placeholder="+91 123456789">

                                            </div>
                                            <div class="col-12">
                                                <label for="Message" class="form-label">
                                                    Message <i class="error">*</i>
                                                </label>
                                                <textarea class="form-control" for="Message" name="Message" id="Message" rows="3" placeholder="write your message"></textarea>
                                            </div>

                                            <input type="hidden" id="recaptcha" name="recaptcha" />

                                            <script src="https://www.google.com/recaptcha/api.js?render=6LcfB00fAAAAAH0iTIRHL0ySYIOR73DqWXvtfmQp"></script>
                                            <script>
                                                grecaptcha.ready(function () {
                                                    grecaptcha.execute('6LcfB00fAAAAAH0iTIRHL0ySYIOR73DqWXvtfmQp').then(function (token) {
                                                        document.getElementById("recaptcha").value = token;
                                                    });
                                                });
                                            </script>

                                            <span id="ErrorMessage" class="text-danger"></span>
                                        </div>
                                        <button type="submit" id="ContactUsSubmit" class="btn primary-btn m-auto ">Submit</button>

                                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8LE_Ol4-amZEvl4lPK03vCdN6Xps6f7KuPFpb5vy_-OhfRlBmexI5E6LW1h_q6ReNJ1f84JS1x2R-G-6A_DPD3AFPDY4xKw1JsJgW2v3U0D3cbsaOXHYaAPZ1AskVjNCf-2k29dxYp6TvzAGcTx8JKo" />
                                    </form>
                                    <div id="SuccessMessage" class="thk-msg fs-35 text-center d-none m-auto">
                                        <h3>Thank You!</h3>
                                        <div class="subtitle">Thank for contacting us,</div>
                                        <div class="para">
                                            <p>One of our representatives will be in touch with you shortly.</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="sales-team w-100">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-5 col-md-12">
                                        <div class="fit-height" data-aos="fade-down" data-aos-delay="600">
                                            <div class="global-title text-left">
                                                <h5>Our Experts</h5>
                                            </div>
                                            <p>One of our Experts will contact you shortly.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-7 col-md-12">
                                        <div class="row justify-content-center justify-content-lg-start">
                                            <div class="col-xl-3 col-lg-4 col-md-3 col-6">
                                                <div class="each-member" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
                                                    <div class="image-wrap">
                                                        <img src="../../media/default-client.png" alt="Ki" loading="lazy" />
                                                    </div>
                                                    <p class="e-name">Team Member</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-3 col-6">
                                                <div class="each-member" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
                                                    <div class="image-wrap">
                                                        <img src="../../media/default-client.png" alt="Nii" loading="lazy" />
                                                    </div>
                                                    <p class="e-name">Team Member</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>