<link href="~/bundles/site.min0f3c.css" rel="stylesheet" />
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>



                    <section class="about-hero stick-header" data-aos="fade-zoom-in">
                        <div class="sec-in">
                            <div class="left-txt">
                                <div class="banner-content" data-aos="zoom-out-right" data-aos-delay="600">
                                    <h1>Hello,<br /><span>we are Techcreare</span> <br />Happy to see you here!</h1>
                                </div>
                                <span class="circle-1"></span>
                                <span class="circle-2"></span>
                                <span class="circle-3"></span>
                            <img class="triangle" src="/assets/images/triangle-blue.svg" alt="triangle-" loading="lazy" />
                            </div>
                            <div class="right-img" data-aos="zoom-out-left" data-aos-delay="600">
                                <div class="img desktp" style="background-image: url('../media/about-banner2.png');"></div>
                                <picture class="img mobiview">
                                    <source media="(max-width: 767px)" srcset="../media/about-banner2-mobi.png">
                                    <img src="../media/about-banner2-mobi.png" alt="service-image" loading="lazy" />
                                </picture>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>



                    <section class="imgtxt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <img data-aos="fade-down" src="/assets/images/team.jpg" alt="" loading="lazy" />
                                </div>
                                <div class="col-md-6 sm-pt-2">
                                    <div class="h-100 d-flex flex-wrap align-items-center" data-aos="fade-up">
                                        <div>
                                            <div class="global-title text-left">
                                                <h2>A Team of World-class Developers Work on Your Vision</h2>
                                            </div>
                                            <p>The holiest mountain Techcreare symbolizes constancy, permanence, eternity, firmness, stillness, and spiritually signifies the state of absolute consciousness. Our TechCreare team is a combination of experienced, friendly, and like-minded individuals. We have an unrivaled understanding of the ever-changing digital world.</p>
                                            <p>Let us join hands together to craft efficient and scalable Web-Software solutions to scale your business to newer heights.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>

                    <section class="bg-grey">
                        <div class="container">
                            <div class="row repeat-group ourgoal-group">
                                <div class="col-lg-4 col-md-6 repeat-box ourgoal-box">
                                    <div class="bg-white white-card" data-aos="fade-up">
                                        <div class="icon">
                                            <img src="../media/icon-eye.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="title">
                                            <h5>
                                                Our Vision
                                            </h5>
                                        </div>
                                        <div class="desc">
                                            <p>Our tech-savvy enthusiast follow a simple rule “happy customers, happy us”. Adding values to your business, is our vision which we’ll not compromise whosever.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 repeat-box ourgoal-box">
                                    <div class="bg-white white-card" data-aos="fade-up">
                                        <div class="icon">
                                            <img src="../media/icon-mission.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="title">
                                            <h5>
                                                Our Mission
                                            </h5>
                                        </div>
                                        <div class="desc">
                                            <p>Being a software development company, we abide by mission of delivering tailor-made solutions to drive customers &amp; generate revenues.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 repeat-box ourgoal-box">
                                    <div class="bg-white white-card" data-aos="fade-up">
                                        <div class="icon">
                                            <img src="../media/icon-approach.png" alt="" loading="lazy" />
                                        </div>
                                        <div class="title">
                                            <h5>
                                                Our Approach
                                            </h5>
                                        </div>
                                        <div class="desc">
                                            <p>Our team leverages the best practices for multi-step quality assurance process which includes code reviews, browser/ device testing, and performance review to make sure you get quality end results.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>


                    <section class="pb-0">
                        <div class="container">
                            <div class="global-title highsec-title" data-aos="zoom-in-up">
                                <h2 class="mb-30">Key Highlights About Us!</h2>
                            </div>
                        </div>
                        <div class="highlight-sec">
                            <div class="sec-in">
                                <div class="left" data-aos="fade-up">
                                    <div class="title-wrap">
                                        <img src="../media/history-bg.png" alt="history" loading="lazy" />
                                        <div class="title" data-aos="fade-up" data-aos-delay="300">
                                            <h3> COMPANY HISTORY</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="right" data-aos="fade-up">
                                    <div class="highlight-group">
                                        <div class="highlight-box">
                                            <div class="left-year">
                                                <div class="year-circle">
                                                    <img src="../media/founded.png" alt="development" loading="lazy" />
                                                    <div class="year-title">2019</div>
                                                </div>
                                            </div>
                                            <div class="right-content">
                                                <div class="img"
                                                     style="background-image: url(../media/scott-graham-5fnmwej4taa-unsplash.png);"></div>
                                                <div class="text">
                                                    <h3>Founded</h3>
                                                    <div class="para">
                                                        <p>Founded in 2019</p>
                                                        <p>Individual founder was working on Microsoft technology</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="highlight-box">
                                            <div class="left-year">
                                                <div class="year-circle">
                                                    <img src="../media/development.png" alt="development" loading="lazy" />
                                                    <div class="year-title">2020</div>
                                                </div>
                                            </div>
                                            <div class="right-content">
                                                <div class="text">
                                                    <h3>Development center</h3>
                                                    <div class="para">
                                                        <div class="para">
                                                            <p>2020</p>
                                                            <p>Set up Development center</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="highlight-box">
                                            <div class="left-year">
                                                <div class="year-circle">
                                                    <img src="../media/joined-us.png" alt="development" loading="lazy" />
                                                    <div class="year-title">2021</div>
                                                </div>
                                            </div>
                                            <div class="right-content">
                                                <div class="img"
                                                     style="background-image: url(../media/scott-graham-5fnmwej4taa-unsplash_1.png);"></div>
                                                <div class="text">
                                                    <h3>Full stack developers joined us</h3>
                                                    <div class="para">
                                                        <div class="para">
                                                            <p>Front end (VueJS, ReactJS &amp; Angular) and Backend (.NET, Laravel).</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="highlight-box">
                                                                        <div class="left-year">
                                                                            <div class="year-circle">
                                                                                    <img src="../media/partner.png" alt="development" loading="lazy" />
                                                                                <div class="year-title">2021</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="right-content">
                                                                            <div class="text">
                                                                                <h3>Gold Partner</h3>
                                                                                <div class="para">
                                                                                    <div class="para">
                                        <p>2021</p>
                                        <p>Become Umbraco Gold Partner</p>
                                        </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>


                    <section data-aos="fade-zoom-in" class="bg-img" style="background-image: url('../media/bg-umbraco-banner.png');">
                        <div class="container">
                            <div class="global-title service-title" data-aos="zoom-in-up" data-aos-delay="300">
                                <h2>Our Services</h2>
                            </div>
                            <div class="row servicecrd-wrap">

                                <div class="col-xxl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                                    <a href="../services/" class="white-card service-card position-relative">
                                        <div class="icon">
                                            <img src="../media/icon-1-svg.svg" alt="Icon 1 Svg" loading="lazy">
                                        </div>
                                        <div class="service-name">
                                            <h4>Product Engineering</h4>
                                        </div>
                                        <div class="arrow position-absolute">
                                            <img src="/assets/images/white-arrow.png" alt="" loading="lazy">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xxl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                    <a href="#" class="white-card service-card position-relative">
                                        <div class="icon">
                                            <img src="../media/icon-3-svg.svg" alt="Icon 3 Svg" loading="lazy">
                                        </div>
                                        <div class="service-name">
                                            <h4>Web Application Development</h4>
                                        </div>
                                        <div class="arrow position-absolute">
                                            <img src="/assets/images/white-arrow.png" alt="" loading="lazy">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xxl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                    <a href="#" class="white-card service-card position-relative">
                                        <div class="icon">
                                            <img src="../media/icon-4-svg.svg" alt="Icon 4 Svg" loading="lazy">
                                        </div>
                                        <div class="service-name">
                                            <h4>E-Commerce Application</h4>
                                        </div>
                                        <div class="arrow position-absolute">
                                            <img src="/assets/images/white-arrow.png" alt="" loading="lazy">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xxl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                                    <a href="#" class="white-card service-card position-relative">
                                        <div class="icon">
                                            <img src="../media/icon-2-svg.svg" alt="Icon 2 Svg" loading="lazy">
                                        </div>
                                        <div class="service-name">
                                            <h4>Dedicated Development Center</h4>
                                        </div>
                                        <div class="arrow position-absolute">
                                            <img src="/assets/images/white-arrow.png" alt="" loading="lazy">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xxl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                                    <a href="#" class="white-card service-card position-relative">
                                        <div class="icon">
                                            <img src="../media/icon-1-svg.svg" alt="Icon 1" loading="lazy">
                                        </div>
                                        <div class="service-name">
                                            <h4>Quality Assurance</h4>
                                        </div>
                                        <div class="arrow position-absolute">
                                            <img src="/assets/images/white-arrow.png" alt="" loading="lazy">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>

                    <section class="whywe-section">
                        <div class="container">
                            <div class="global-title" data-aos="zoom-in-up">
                                <h2>Why We Are Different?</h2>
                            </div>
                        </div>
                        <div class="sec-content">
                            <div class="grid-four d-flex flex-wrap differ-group">

                            <div class="d-flex different-us differ-box direction-aware-effect" data-aos="fade-up" data-aos-delay="100">
                                    <img src="../media/diff-1.jpg" alt="Diff 1" loading="lazy">
                                    <div class="box-content" data-aos="fade-down-right" data-aos-delay="300">
                                        <h4>Blended with tech &amp; true values.</h4>
                                    </div>
                                </div>
                                <div class="d-flex different-us differ-box direction-aware-effect" data-aos="fade-up" data-aos-delay="200">
                                    <img src="../media/diff-2.jpg" alt="Diff 2" loading="lazy">
                                    <div class="box-content" data-aos="fade-down-right" data-aos-delay="300">
                                        <h4>Our clients are our first priority</h4>
                                    </div>
                                </div>
                                <div class="d-flex different-us differ-box direction-aware-effect" data-aos="fade-up" data-aos-delay="300">
                                    <img src="../media/diff-3.jpg" alt="Diff 3" loading="lazy">
                                    <div class="box-content" data-aos="fade-down-right" data-aos-delay="300">
                                        <h4>Agile development approach</h4>
                                    </div>
                                </div>
                                <div class="d-flex different-us differ-box direction-aware-effect" data-aos="fade-up" data-aos-delay="400">
                                    <img src="../media/diff-4.jpg" alt="Diff 4" loading="lazy">
                                    <div class="box-content" data-aos="fade-down-right" data-aos-delay="300">
                                        <h4>Rooted in high culture ethics</h4>
                                    </div>
                                </div>
                                <div class="d-flex different-us differ-box direction-aware-effect" data-aos="fade-up" data-aos-delay="500">
                                    <img src="../media/diff-5.jpg" alt="Diff 5" loading="lazy">
                                    <div class="box-content" data-aos="fade-down-right" data-aos-delay="300">
                                        <h4>Optimum 360 degree quality assurance</h4>
                                    </div>
                                </div>
                                <div class="d-flex different-us differ-box direction-aware-effect" data-aos="fade-up" data-aos-delay="600">
                                    <img src="../media/diff-6.jpg" alt="Diff 6" loading="lazy">
                                    <div class="box-content" data-aos="fade-down-right" data-aos-delay="300">
                                        <h4>Tech enthusiasts driving businesses</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>


                    <section class="brand_section" style="background-image:url('../media/bg-umbraco-banner.png');">
                        <div class="container">
                            <div class="contact_cta">
                                <div class="left" data-aos="fade-up">
                                    <h2 class="fs-38">Let’s work together to<br />accelerate your business goals!</h2>
                                </div>
                                <div class="right" data-aos="fade-down">
                                <a href="../ContectUs/Index" class="white-btn">Contact us Now</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

