<link href="~/bundles/site.min0f3c.css" rel="stylesheet" />
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>

                    <section class="culture-hero stick-header">
                        <div class="sec-in">
                            <div class="left left-space">
                                <div class="left-in">
                                    <span class="pretitle">Career</span>
                                    <h1>EMPLOYMENT &amp; CAREER OPPERTUNITIES</h1>
                                    <div class="para">
                                        <p>We have positive and rewarding culture which allow you to achieve your fullest potential and making a place that you love to work.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="img" style="background-image: url(../media/career-right-img.jpg);"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div class="crr-join-section">


                    <section class="exp-sectin wap-service-section">
                        <div class="container">
                            <div class="global-title style2 p-20 text-center">
                                <h2>JOIN US</h2>
                            </div>
                            <div class="row exp-group gdexp-group">
                                <div class="col-xs-12 col-md-6 col-xl-4 exp-box">
                                    <div class="box-in">
                                        <div class="icon">
                                            <img src="../media/exp-professionals.png" alt="Exp Professionals" loading="lazy">
                                        </div>
                                        <div class="contain fs-25">
                                            <h3>Experienced Professionals</h3>
                                            <p>TechCreare looks for experienced professionals with a passion for excellence who believes in the power of team work, integrity &amp; leadership.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-xl-4 exp-box">
                                    <div class="box-in">
                                        <div class="icon">
                                            <img src="../media/talented-graduates.png" alt="Talented Graduates" loading="lazy">
                                        </div>
                                        <div class="contain fs-25">
                                            <h3>Talented Graduates</h3>
                                            <p>TechCreare is always open for the talented, creative &amp; ambitious graduates. If you are one of them and wants to accelearte your career, then Let's join.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-xl-4 exp-box">
                                    <div class="box-in">
                                        <div class="icon">
                                            <img src="../media/campus-corner.png" alt="Campus Corner" loading="lazy">
                                        </div>
                                        <div class="contain fs-25">
                                            <h3>Campus Corner</h3>
                                            <p>Invite TechCreare team for campus recruitment drive to explore placement opportunity for your college students. Always looking forward!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="crr-opening" style="background-image:url(../media/blue-pink-halftone_36.png);">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>


                    <section class="cropening-section">
                        <div class="container">
                            <div class="global-title">
                                <h2>CURRENT OPENINGS</h2>
                            </div>
                            <div class="row crnt-open-group">

                                <div class="col-12 col-md-6 crnt-open-box">
                                    <div class="box-in">
                                        <div class="icon">
                                            <img src="../media/asp-i.png" alt="Asp I">
                                        </div>
                                        <div class="content fs-25">
                                            <h3>Asp.Net Developer </h3>
                                            <div class="position">Positions: 12</div>
                                            <a class="link-btn" href="#" target="_blank">View Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 crnt-open-box">
                                    <div class="box-in">
                                        <div class="icon">
                                            <img src="../media/php-i.png" alt="Php I">
                                        </div>
                                        <div class="content fs-25">
                                            <h3>PHP Developer </h3>
                                            <div class="position">Positions: 10</div>
                                            <a class="link-btn" href="#" target="_blank">View Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 crnt-open-box">
                                    <div class="box-in">
                                        <div class="icon">
                                            <img src="../media/react-native-i.png" alt="React Native I">
                                        </div>
                                        <div class="content fs-25">
                                            <h3>React Native Developer </h3>
                                            <div class="position">Positions: 7</div>
                                            <a class="link-btn" href="#" target="_blank">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>



                    <section class="crr-testimonial">
                        <div class="sec-in">
                            <div class="left">
                                <div class="in">
                                    <img src="../media/crr-left-img.jpg" alt="Crr Left Img" loading="lazy">
                                </div>
                            </div>
                            <div class="right padding-right">
                                <div class="right-in">
                                    <div class="global-title">
                                        <h2>HERE&#x2019;S WHAT PEOPLE SAYING ABOUT &#x201C;TECHCREARE&#x201D;!</h2>
                                    </div>
                                    <div class="cr-logos">
                                        <div class="each-logos">
                                            <a href="#" target="_blank">
                                                <img src="../media/glassdoor.png" alt="Glassdoor">
                                            </a>
                                        </div>
                                        <div class="each-logos">
                                            <a href="#">
                                                <img src="../media/google-ratting.png" alt="Google Ratting">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cr-testi-group arrow-style">
                                        <div class="cr-testi-box">
                                            <div class="in">
                                                <p><strong>"I have enjoyed working with TechCreare. I can proudly say this is my first and best move.Work environment is good. TechCreare is fundamentally a strong concern with lot of  opportunities to learn.”</strong></p>
                                            </div>
                                        </div>
                                        <div class="cr-testi-box">
                                            <div class="in">
                                                <p><strong>"Very Good work environment and everybody helps each other. Teammates are supportive and the management is transparent.  Company policies are good and  Flexible work timing so you can prioritize your work-life balance.”</strong></p>
                                            </div>
                                        </div>
                                        <div class="cr-testi-box">
                                            <div class="in">
                                                <p><strong>"Training provided by Techcreare is really very effective. All the employees are supporting and help each other to grow by giving the required support wherever needed. The team is talented, innovative and always does fun filled activities at work.”</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div class="crr-cta">


                    <section class="pt-0">
                        <div class="contact_cta full-width mt-0 w-100" style="">
                            <div class="container">
                                <div class="row">
                                    <div class="left mb-23 fs-35 col-12 text-center" data-aos="fade-up">
                                        <h2>We are always glad to add talented techies to our team. Apply via e-mail on <a href="mailto:info@creareconaultant.com">info@techcreare.com</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

