<link href="~/bundles/site.min0f3c.css" rel="stylesheet" />
<div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>

                    <section class="culture-hero stick-header">
                        <div class="sec-in">
                            <div class="left left-space">
                                <div class="left-in">
                                    <span class="pretitle">Our Culture</span>
                                    <h1>ON A MISSION TO MAKE THIS YOUR BEST JOB!</h1>
                                    <div class="para">
                                        <p>We have a positive and rewarding culture that allows you to achieve your fullest potential and make a place that you love to work at!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="img" style="background-image: url();"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>


                    <section class="mountain-section">
                        <div class="container">
                            <div class="global-title style2 p-20 text-center">
                                <h2>WHY MOUNTAIN CULTURE?</h2>
                                <p>‘Giriraj’ – One of the holiest mountains in the world.</p>
                            </div>
                            <div class="row holiday-group">

                                <div class="col-sm-6 col-lg-4 col-xl-3 holiday-box">
                                    <div class="box-in fs-25">
                                        <div class="icon">
                                            <img src="https://www.girirajdigital.com/media/r0nn4yv1/all-world.svg" alt="All World" loading="lazy" />
                                        </div>
                                        <h3>Extraordinary Place</h3>
                                        <p>The Mountain - ultimate symbol of stability</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3 holiday-box">
                                    <div class="box-in fs-25">
                                        <div class="icon">
                                            <img src="https://www.girirajdigital.com/media/jmtdmd5y/elevation.svg" alt="Elevation" loading="lazy" />
                                        </div>
                                        <h3>Inner Elevation</h3>
                                        <p>Climbing a mountain depicts inner elevation</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3 holiday-box">
                                    <div class="box-in fs-25">
                                        <div class="icon">
                                            <img src="https://www.girirajdigital.com/media/r1od5dlo/stability.svg" alt="Stability" loading="lazy" />
                                        </div>
                                        <h3>Stability</h3>
                                        <p>The ultimate symbol of stability</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-3 holiday-box">
                                    <div class="box-in fs-25">
                                        <div class="icon">
                                            <img src="https://www.girirajdigital.com/media/ii4k1u1u/natural-energy.svg" alt="Natural Energy" loading="lazy" />
                                        </div>
                                        <h3>Natural Energy</h3>
                                        <p>Mountain increase levels of natural energy</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>


                    <section class="exp-sectin" style="background-image: url(https://www.girirajdigital.com/about/our-culture/'/media/qygpjslm/bg-umbraco-banner.png');">
                        <div class="container">
                            <div class="global-title style2 p-20 text-center">
                                <h2>EXPERIENCE NEW ADVENTURES EVERY DAY WITH US!&#x2026;</h2>
                            </div>
                            <div class="row exp-group">

                                <div class="col-xs-12 col-md-6 col-xl-4 exp-box">
                                    <div class="box-in">
                                        <div class="icon">
                                            <img src="https://www.girirajdigital.com/media/yrvbdogc/equality-icon.png" alt="Equality Icon" loading="lazy" />
                                        </div>
                                        <div class="contain fs-25">
                                            <h3>Equality</h3>
                                            <p><p>We don’t see difference in people, rather we love it. Simply like a rainbow in sky or a beautiful garden with various shade of flowers. We provide equal opportunity everyone to grow and allow you to show the best talent.</p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-xl-4 exp-box">
                                    <div class="box-in">
                                        <div class="icon">
                                            <img src="https://www.girirajdigital.com/media/kqgfjfxm/transparency-icon.png" alt="Transparency Icon" loading="lazy" />
                                        </div>
                                        <div class="contain fs-25">
                                            <h3>Transparency and clear communication</h3>
                                            <p><p>We are not a company like Suspense Movie. Our clear and transparent communication eases your work, role, assignments, goals, etc. Everyone in our organization keeps the communication crystal clear!</p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-xl-4 exp-box">
                                    <div class="box-in">
                                        <div class="icon">
                                            <img src="https://www.girirajdigital.com/media/nq2bbbn2/hierarchy-icon.png" alt="Hierarchy Icon" loading="lazy" />
                                        </div>
                                        <div class="contain fs-25">
                                            <h3>Organization Hierarchy</h3>
                                            <p><p>We have very flat organizational structure, an employee can easily approach to owners and managers directly without any obstacles. You have the right to give your creative and innovative ideas.</p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-xl-4 exp-box">
                                    <div class="box-in">
                                        <div class="icon">
                                            <img src="https://www.girirajdigital.com/media/pgpp1j5e/life-balance-icon.png" alt="Life Balance Icon" loading="lazy" />
                                        </div>
                                        <div class="contain fs-25">
                                            <h3>Work Culture</h3>
                                            <p><p>We truly understand that we work to live and not live to work! That’s why Giriraj Digital highly focuses on maintaining a healthy work-life balance.</p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-xl-4 exp-box">
                                    <div class="box-in">
                                        <div class="icon">
                                            <img src="https://www.girirajdigital.com/media/haphycnx/motivate-icon.png" alt="Motivate Icon" loading="lazy" />
                                        </div>
                                        <div class="contain fs-25">
                                            <h3>Encourage, Motivate and Celebrate</h3>
                                            <p><p>When a person doing well we encourage it and motivate to set higher expectation of himself and provide all support and tools to achieve it. Also we celebrate each events of life weather a personal or professional.</p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>


                    <section class="work-culture">
                        <div class="container">
                            <div class="global-title style2 p-20 text-center">
                                <h2>LIFE AT GIRIRAJ DIGITAL</h2>
                                <p>We work together to achieve big and have fun while doing it.</p>
                            </div>
                            <div class="row life-group">

                                <div class="col-md-6 col-xl-4 workc-box">
                                    <div class="box-in fs-25">
                                        <img src="https://www.girirajdigital.com/media/gupen2ag/gd-equality.jpg" alt="Equality" loading="lazy">
                                        <h3>Equality</h3>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4 workc-box">
                                    <div class="box-in fs-25">
                                        <img src="https://www.girirajdigital.com/media/avzldvbz/health-relation.jpg" alt="Health Relation" loading="lazy">
                                        <h3>health relation</h3>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4 workc-box">
                                    <div class="box-in fs-25">
                                        <img src="https://www.girirajdigital.com/media/4dshmozk/innovative.jpg" alt="Innovative" loading="lazy">
                                        <h3>innovative</h3>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4 workc-box">
                                    <div class="box-in fs-25">
                                        <img src="https://www.girirajdigital.com/media/urbcsucj/knowledge-enriched.jpg" alt="Knowledge Enriched" loading="lazy">
                                        <h3>knowledge enriched</h3>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4 workc-box">
                                    <div class="box-in fs-25">
                                        <img src="https://www.girirajdigital.com/media/uy4g0x32/lively.jpg" alt="Lively" loading="lazy">
                                        <h3>lively</h3>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4 workc-box">
                                    <div class="box-in fs-25">
                                        <img src="https://www.girirajdigital.com/media/t2wbwj0m/openness.jpg" alt="Openness" loading="lazy">
                                        <h3>openness</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>


                    <section class="culture-testimonial pt-25 pb-0">
                        <div class="container">
                            <div class="global-title style2 text-center">
                                <h2>OUR EMPLOYEE&#x2019;S WORDS!</h2>
                            </div>
                        </div>
                        <div class="culture-testiwrap w-100" style="background-image:url('https://www.girirajdigital.com/media/f1spt442/culture-testimonial-bg.jpg')">
                            <div class="container">
                                <div class="culture-testi-group arrow-style blue-dots">

                                    <div class="culture-testi-box">
                                        <img src="https://www.girirajdigital.com/media/bscjiual/quote-small.png" alt="Quote Small" loading="lazy">
                                        <div class="description">
                                            <p>"Best place with a positive environment and very talented and supportive staff,<br />One of the best examples of great leadership I have ever seen. I am feeling glad today that I am part of this family.”</p>
                                        </div>
                                        <span class="name">Divya C.</span>
                                    </div>
                                    <div class="culture-testi-box">
                                        <img src="https://www.girirajdigital.com/media/bscjiual/quote-small.png" alt="Quote Small" loading="lazy">
                                        <div class="description">
                                            <p>"Working with Giriraj Digital feels like my family and not just an organization. <br />Here talented young minds are always available to guide. Good and friendly work culture.”</p>
                                        </div>
                                        <span class="name">Chetan G.</span>
                                    </div>
                                    <div class="culture-testi-box">
                                        <img src="https://www.girirajdigital.com/media/bscjiual/quote-small.png" alt="Quote Small" loading="lazy">
                                        <div class="description">
                                            <p>"The best thing to work in Giriraj Digital is there is no micro-management. <br />The office environment is also positive, got a chance to work with many global projects.”</p>
                                        </div>
                                        <span class="name">Rajan B.</span>
                                    </div>
                                    <div class="culture-testi-box">
                                        <img src="https://www.girirajdigital.com/media/hccd3l4x/quote-big.png" alt="Quote Big" loading="lazy">
                                        <div class="description">
                                            <p>It is a great experience working with Giriraj Digital. As we work as a team with a Friendly and transparent working environment with flexible work timing so you can prioritize your work-life balance. Glad to be a part of this Amazing Family.</p>
                                        </div>
                                        <span class="name">Monali S.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>



                    <section class="hire-section pb-0">
                        <div class="container">
                            <div class="global-title p-20 style2 text-center">
                                <h2>HIRING PROCESS</h2>
                                <p>Our hiring process is simple yet effective. It will usually take few hours and we’ll get back to you within no time.</p>
                            </div>
                            <div class="hire-group">

                                <div class="hire-box fs-35">
                                    <h3>Personal Interview</h3>
                                </div>
                                <div class="hire-box fs-35">
                                    <h3>Sample assesment</h3>
                                </div>
                                <div class="hire-box fs-35">
                                    <h3>Introduction to work culture</h3>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row clearfix ">
            <div class="col-md-12 column">
                <div>


                    <section class="opening-section pb-mobi-0">
                        <div class="container">
                            <div class="global-title p-20 style2 text-center">
                                <h2>LATEST OPENINGS AT GIRIRAJ DIGITAL</h2>
                                <p>Our hiring process is simple yet effective. It will usually take few hours and we’ll get back to you within no time.</p>
                            </div>
                            <div class="row lr-wrap">
                                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-7 left-side d-flex align-items-center">
                                    <div class="content fs-25">
                                        <h3>Ready to enjoy the best culture out here?</h3>
                                        <a href="https://www.girirajdigital.com/about/career/" class="gradient-btn">Check out the recent job openings!</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-5 right-side d-flex align-items-center">
                                    <img src="https://www.girirajdigital.com/media/ymmpcgzq/latest-opning-img.png" alt="Latest Opning Img" loading="lazy" />
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
